// Variables
@import 'variables';
@import '~dropzone/src/dropzone';

#sidenav-container {
    height: 100vh;
}

#sidenav-container #sidenav {
    overflow-y: auto;
}

.sidenav a {
    color: black;
}

.sidenav .svg {
    fill: black;
}

.sidenav a.active {
    color: $primary;
    font-weight: 700;
}

.sidenav .svg.active {
    fill: $primary;
}

#admin-login-container {
    min-height: 100vh;
}

.table .btn {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
}

a .svg {
    height: 1.4rem;
    width: 1.4rem;
}

.text-muted .svg {
    fill: grey;
}
