// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
// Custom
html {
    background: white;
}

body {
    background: white;
    font-family: 'Open Sans', sans-serif;
}

.h1,
.h2,
.h3,
h1,
h2,
h3 {
    font-weight: 800;
}

.h4,
.h5,
.h6,
h4,
h5,
h6 {
    font-weight: 600;
}

p {
    margin-bottom: 0;
}

#public-body {
    max-width: 1300px;
}

input.search {
    border: none;
    box-shadow: none;
    background: #EEE;
    border-radius: 25px;
    max-width: 600px;
}

.transition {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
} 

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

.category-small {
    background: #EEE;
    cursor: pointer;
} 

.category-small:hover {
    background: #DDD
} 

#cart-container {
    background: #EEE;
}