html, body {
    background: white !important;
}

#backoffice-container {
    padding: 0;
    min-height: 100vh;
}

#backoffice-sidenav {
    width: 15rem;
    height: inherit;
    background: #dcdcdc;
}

#backoffice-sidenav #sidenav-title {
    font-size: 1.5rem;
}

#backoffice-content {
    height: fit-content;
}

.sidenav-link-container {
    display: flex;
}

.table {
    margin-bottom: 0;
}

.table thead th {
    border-top: none;
}
