#install {
  min-height: 100vh;
}

body {
  font-family: "Playfair Display", serif !important;
  min-height: 100vh;
}

p {
  margin-bottom: 0 !important;
}

.navbar-light .navbar-nav .nav-link svg {
  height: 1.4rem;
  fill: rgba(0, 0, 0, 0.5);
}

.navbar-light .navbar-nav .nav-link:hover svg {
  fill: rgba(0, 0, 0, 0.7);
}

#breadcrumb a {
  color: #6c757d !important;
}

.mini-address .address-title {
  font-size: 1.1rem;
  font-weight: 600 !important;
}

.mini-address .address-text {
  font-size: 0.9rem;
}

.product-container .product-image {
  -o-object-fit: cover;
     object-fit: cover;
}

