#customer-area-login {
  height: 100vh;
}

#customer-area-login #left-side {
  color: white;
  background: #982ada;
  background: linear-gradient(261deg, #982ada 0%, #5b00ff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#982ada",endColorstr="#5b00ff",GradientType=1);
}

#customer-area-login #right-side #login-form {
  width: 80%;
  max-width: 500px;
}

#customer-area-login p {
  line-height: 1;
}

#customer-area-login a:hover {
  text-decoration: none;
}

#customer-area-login a:hover p {
  text-decoration: underline;
}

#customer-area-register {
  height: 100vh;
}

#customer-area-register #left-side {
  color: black;
  background: #da9a2a;
  background: linear-gradient(148deg, #da9a2a 0%, #ffde00 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#da9a2a",endColorstr="#ffde00",GradientType=1);
}

#customer-area-register #right-side #login-form {
  width: 80%;
  max-width: 500px;
}

#customer-area-register p {
  line-height: 1;
}

#customer-area-register a:hover {
  text-decoration: none;
}

#customer-area-register a:hover p {
  text-decoration: underline;
}

#customer-area .big-links-container a {
  color: black;
}

#customer-area .big-links-container a:hover {
  text-decoration: none;
}

#customer-area .big-links-container a:hover p {
  text-decoration: underline;
}

#customer-area .big-links-container a:hover small {
  text-decoration: none;
}

#customer-area .big-links-container a small {
  text-decoration: none;
}

