html {
  background: white !important;
}

#minimal-container {
  min-height: 100vh;
}

#minimal-container #left-side {
  background: yellow;
  min-height: 100vh;
}

#minimal-container input,
#minimal-container textarea,
#minimal-container select {
  border: none;
  background: #f2f2f2;
  border-radius: 0.5rem;
  box-shadow: none;
}

#minimal-container label {
  margin-bottom: 0.1rem;
  font-weight: 600;
}

